* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}
header img,
header b,
header nav,
header nav a {
    display: inline-block;
    vertical-align: middle;
    padding: 0 0.5rem;
}

#logo {
    max-height: 50px;
}

header b {
    font-size: 1.5rem;
}

nav a {
    color: #000;
    text-decoration: none;
    padding: 0 0.5rem;
}

nav a:hover {
    color: #56a902;
}

main {
    padding: 2rem;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

footer {
    padding: 1rem;
    text-align: center;
}

.screenshot {
  width: 90%;
  border: solid 0.25em #0004;
  border-radius: 0.25em;
}
